<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PresMaker - Home</title>
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/script.js"></script>
    </head>
    <body>
        <form id="app" method="POST" action="/create/">
            <label for="topic">The topic of your presentation:</label>
            <input id="topic" type="text" placeholder="Can you fart underwater?" name="topic"></input>
            <label for="additional-info">Any additional info:</label>
            <textarea id="additional-info" placeholder="Consider the water pressure as you go deeper" name="additional-info"></textarea>
            <label for="language">Language:</label>
            <input id="language" type="text" placeholder="English" name="language"></input>
            <button type="submit">Create! 🎨</button>
        </form>
    </body>
</html>

