<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>PresMaker - AI presentation maker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <form method="post" action="/create">
            <input name="topic" type="text" placeholder="Write your topic here..."></input>
            <input name="additional-info" type="text" placeholder="Write additional info here..."></input>
            <input name="mood" type="text" placeholder="Mood..."></input>

            <button type="submit">Create!🎨</button>
        </form>

        <script src="script.js"></script>
    </body>
</html>

